/*styling div main container*/
div#divmaincontainer{
  width:80%;
  margin:auto;
  border:1px solid black;
   border-radius:15px 15px 0 0;
}

/*styling the header of the site*/
header#siteheader{
  width:100%;
  height:150px;
  background-image:linear-gradient(dark-green,cyan,teal);
  border:1px solid lime;
  border-radius:15px 15px 0 0;
  padding:20px;
}

/*styling site title*/
h1#sitetitle{
  font-family:Arial;
  font-size:32px;
  color:black;
  text-align:center;
}

/*styling site motto*/
span#sitemotto{
  font-size:18px;
  font-family:tahoma;
  font-style:italic;
  color:aqua;
  text-align:center;
}

/*site navigation*/
nav#sitenav{
  width:100%;
  height:30px;
  background-image:radical-gradient(greenyellow,rose);
}

/*navigation elements*/
ul#ulnav>li{
  display:inline;
  list-style-type:none;
}
