/*styling div main container*/
div#divmaincontainer{
  width:80%;
  margin:auto;
  border:1px solid black;
}

/*styling the header of the site*/
header#siteheader{
  width:100%;
  height:150px;
  background-color:dark-green;
  border:1px solid yellow;
}
